@model Models.Users
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login - Bootstrap Admin Template</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/css/pages/signin.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div class="navbar navbar-fixed-top">

        <div class="navbar-inner">

            <div class="container">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="index.html">
                    EFin Pro
                </a>

                <div class="nav-collapse">
                    <ul class="nav pull-right">

                        <li class="">


                        </li>

                        <li class="">


                        </li>
                    </ul>

                </div><!--/.nav-collapse -->

            </div> <!-- /container -->

        </div> <!-- /navbar-inner -->

    </div> <!-- /navbar -->



    <div class="account-container">
        <div class="content clearfix">
            <form id="signupForm" action="#" method="post">
                <h1>Member Login</h1>
                <div class="login-fields">
                    <p>Please provide your details</p>
                    <div class="col-xs-11">
                        @using (Html.BeginForm("UserLogin", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="field">
                                <label class="col-md-3 control-label" for="UserID">UserName</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(x => x.MailId, new { @id = "UserName", @type = "email", @class = "login username-field", @placeholder = "UserName is Mandatory", @required = "" })

                                </div>
                            </div>
                            <div class="field">
                                <label class="col-md-3 control-label" for="password">Password</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(x => x.Password, new { @id = "password", @type = "Password", @class = "login password-field", @placeholder = "Password is Mandatory", @required = "" })

                                </div>
                            </div>
                            <div class="login-fields">
                                <span class="login-checkbox">
                                    <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
                                    <label class="choice" for="Field">Keep me signed in</label>
                                </span>
                                <div class="button btn-success">
                                    <button id="submit" type="submit" class="btn btn-success btn-large" onclick="">SignIn</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </form>
        </div> <!-- /content -->

    </div> <!-- /account-container -->



    <div class="login-extra">
        <a href="#">Reset Password</a>
    </div> <!-- /login-extra -->


    <script src="~/js/jquery-1.7.2.min.js"></script>
    <script src="~/js/bootstrap.js"></script>

    <script src="~/js/signin.js"></script>

</body>

</html>
