<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="template/css/bootstrap.min.css">
    <!-- font awesome CSS
        ============================================ -->
    <link rel="stylesheet" href="template/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="template/css/owl.carousel.css">
    <link rel="stylesheet" href="template/css/owl.theme.css">
    <link rel="stylesheet" href="template/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="template/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="template/css/normalize.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="template/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- wave CSS
        ============================================ -->
    <link rel="stylesheet" href="template/css/wave/waves.min.css">
    <!-- Notika icon CSS
        ============================================ -->
    <link rel="stylesheet" href="template/css/notika-custom-icon.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="template/css/main.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="template/css/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="template/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="template/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>   
        @RenderBody()
       
    <!-- jquery
            ============================================ -->
    <script src="template/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="template/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="template/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="template/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="template/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="template/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="template/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="template/js/counterup/jquery.counterup.min.js"></script>
    <script src="template/js/counterup/waypoints.min.js"></script>
    <script src="template/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="template/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="template/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="template/js/sparkline/sparkline-active.js"></script>
    <!-- flot JS
        ============================================ -->
    <script src="template/js/flot/jquery.flot.js"></script>
    <script src="template/js/flot/jquery.flot.resize.js"></script>
    <script src="template/js/flot/flot-active.js"></script>
    <!-- knob JS
        ============================================ -->
    <script src="template/js/knob/jquery.knob.js"></script>
    <script src="template/js/knob/jquery.appear.js"></script>
    <script src="template/js/knob/knob-active.js"></script>
    <!--  Chat JS
        ============================================ -->
    <script src="template/js/chat/jquery.chat.js"></script>
    <!--  wave JS
        ============================================ -->
    <script src="template/js/wave/waves.min.js"></script>
    <script src="template/js/wave/wave-active.js"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="template/js/icheck/icheck.min.js"></script>
    <script src="template/js/icheck/icheck-active.js"></script>
    <!--  todo JS
        ============================================ -->
    <script src="template/js/todo/jquery.todo.js"></script>
    <!-- Login JS
        ============================================ -->
    <script src="template/js/login/login-action.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="template/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="template/js/main.js"></script>
</body>
</html>
