
@{
    ViewBag.Title = "NewUser";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="tab-content">
    <div class="tab-pane active" id="formcontrols">
        <form class="form-horizontal" id="edit-profile">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input disabled="" class="span6 disabled" id="username" type="text" value="Example">
                        <p class="help-block">Your username is for logging in and cannot be changed.</p>
                    </div> <!-- /controls -->
                </div> <!-- /control-group -->


                <div class="control-group">
                    <label class="control-label" for="firstname">First Name</label>
                    <div class="controls">
                        <input class="span6" id="firstname" type="text" value="John">
                    </div> <!-- /controls -->
                </div> <!-- /control-group -->


                <div class="control-group">
                    <label class="control-label" for="lastname">Last Name</label>
                    <div class="controls">
                        <input class="span6" id="lastname" type="text" value="Donga">
                    </div> <!-- /controls -->
                </div> <!-- /control-group -->


                <div class="control-group">
                    <label class="control-label" for="email">Email Address</label>
                    <div class="controls">
                        <input class="span4" id="email" type="text" value="john.donga@egrappler.com">
                    </div> <!-- /controls -->
                </div> <!-- /control-group -->


                <br><br>

                <div class="control-group">
                    <label class="control-label" for="password1">Password</label>
                    <div class="controls">
                        <input class="span4" id="password1" type="password" value="thisispassword">
                    </div> <!-- /controls -->
                </div> <!-- /control-group -->


                <div class="control-group">
                    <label class="control-label" for="password2">Confirm</label>
                    <div class="controls">
                        <input class="span4" id="password2" type="password" value="thisispassword">
                    </div> <!-- /controls -->
                </div> <!-- /control-group -->



                <div class="control-group">
                    <label class="control-label">Checkboxes</label>


                    <div class="controls">
                        <label class="checkbox inline">
                            <input type="checkbox"> Option 01
                        </label>

                        <label class="checkbox inline">
                            <input type="checkbox"> Option 02
                        </label>
                    </div>		<!-- /controls -->
                </div> <!-- /control-group -->



                <div class="control-group">
                    <label class="control-label">Radio Buttons</label>


                    <div class="controls">
                        <label class="radio inline">
                            <input name="radiobtns" type="radio"> Option 01
                        </label>

                        <label class="radio inline">
                            <input name="radiobtns" type="radio"> Option 02
                        </label>
                    </div>	<!-- /controls -->
                </div> <!-- /control-group -->




                <div class="control-group">
                    <label class="control-label" for="radiobtns">Combined Textbox</label>

                    <div class="controls">
                        <div class="input-prepend input-append">
                            <span class="add-on">$</span>
                            <input class="span2" id="appendedPrependedInput" type="text">
                            <span class="add-on">.00</span>
                        </div>
                    </div>	<!-- /controls -->
                </div> <!-- /control-group -->





                <div class="control-group">
                    <label class="control-label" for="radiobtns">Textbox with Buttons </label>

                    <div class="controls">
                        <div class="input-append">
                            <input class="span2 m-wrap" id="appendedInputButton" type="text">
                            <button class="btn" type="button">Go!</button>
                        </div>
                    </div>	<!-- /controls -->
                </div> <!-- /control-group -->





                <div class="control-group">
                    <label class="control-label" for="radiobtns">Dropdown in a button group</label>

                    <div class="controls">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> User</a>
                            <a class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                                <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                                <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="i"></i> Make admin</a></li>
                            </ul>
                        </div>
                    </div>	<!-- /controls -->
                </div> <!-- /control-group -->





                <div class="control-group">
                    <label class="control-label" for="radiobtns">Button sizes</label>

                    <div class="controls">
                        <a class="btn btn-large" href="#"><i class="icon-star"></i> Star</a>
                        <a class="btn btn-small" href="#"><i class="icon-star"></i> Star</a>
                        <a class="btn btn-mini" href="#"><i class="icon-star"></i> Star</a>
                    </div>	<!-- /controls -->
                </div> <!-- /control-group -->



                <br>


                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn">Cancel</button>
                </div> <!-- /form-actions -->
            </fieldset>
        </form>
    </div>
</div>